@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .adress-page {
    display: flex;
  }
  .logo-first {
    margin-right: 76px;
  }

  .contact-item {
    display: block;
    padding: 24px 0;
  }
  .contact-adress {
    display: flex;
    align-items: center;
  }
  .link-item {
    padding: 24px 0;
  }
  .adress-mail {
    margin-left: auto;
    margin-right: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-bottom: 188px;
    padding-top: 188px;
    max-width: 1440px;
    height: 600px;
  }
  .titel-hero {
    max-width: 496px;
    margin: 0 auto 48px;
    font-weight: 700px;
    font-size: 56px;
    line-height: 1.07;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/herobg.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desctop/people-office\ 1@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .features-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background: var(--icons-color);
    margin-bottom: 8px;
  }
  .features-list {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
  .features-description {
    display: flex;
    gap: 24px;
  }
  .features-caption {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  .features-text {
    width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .main-titel {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-align: center;
  }
  .main-description {
    display: flex;
    gap: 24px;
    padding-bottom: 120px;
  }
  .main-photo {
    flex-basis: calc((100% - 2 * 24px) / 3);
    border: 1px solid #e7e9fc;
  }
}
