@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .adress-page {
    display: flex;
  }
  .logo-first {
    margin-right: 76px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-bottom: 188px;
    padding-top: 188px;
  }
}
