@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
@media screen and (min-width: 428px) {
  .mobile-header {
    display: none;
  }
  .mobile-header-list,
  .mobile-adress,
  .adress-page {
    display: none;
  }
  .features-list-link,
  .features-list-icon {
    display: none;
  }
  .phone-number,
  .adress-mail {
    display: none;
  }
  .logo-first {
    margin-right: 120px;
  }
}
@media screen and (min-width: 480px), (min-width: 767px) {
  .main-gallery {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .modal {
    width: calc(100% - (15px * 2));
  }
  .modal-form-check-desc {
    font-size: 8px;
    letter-spacing: 0.02em;
  }
  .media-list-link:not(:last-child) {
    margin-right: 28px;
  }
  .mob-social-phone {
    font-size: 36px;
  }
  .mob-social {
    margin-top: auto;
  }
}
