@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
    background: teal;
  }
}
@media screen and (min-width: 428px), (min-width: 767px) {
  .mobile-header {
    display: flex;
  }
  .mobile-header-list,
  .mobile-adress,
  .adress-page {
    display: none;
  }
  .features-list-link,
  .features-list-icon {
    display: none;
  }
  .link-item {
    display: none;
  }
}
@media screen and (min-width: 320px), (min-width: 767px) {
  .main-gallery {
    display: none;
  }
}
