:root {
  --primary-text-color: #2e2f42;
  --second-text-color: #434445;
  --brand-color: #4d5ae5;
  --accent-kolor: #404bbf;
  --background-origin: #ffffff;
  --icons-color: #f4f4fd;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-origin);
  min-width: 320px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
/* mobile  */
.mobile-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--background-origin);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 260ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--background-origin);
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.mobile-burger-icon {
  width: 32px;
  height: 32px;
  stroke: var(--primary-text-color);
}
.navigation-page {
  background: var(--background-origin);
  border-bottom: 1px solid #e7e9fc;
}
.mobile-nav-list {
  margin-bottom: 40px;
}
.mob-navigation:not(:last-child) {
  margin-bottom: 40px;
}

.mob-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
}
.color-contact {
  color: var(--brand-color);
}
.mob-soc-item {
  margin-bottom: 40px;
}
.mob-social-phone {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--brand-color);
}
.mob-social-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.mob-social-space {
  margin-bottom: 40px;
}
.media-list {
  display: flex;
  gap: 40px;
}
.media-list-link {
  width: 40px;
  height: 40px;
}
.media-icon {
  fill: var(--icons-color);
}
.media-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--brand-color);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-first {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--brand-color);
  padding-top: 24px;
  padding-bottom: 22px;
}
.logo-second-dark {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-text-color);
}
.logo-second-light {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--icons-color);
}
.page-header-container {
  display: flex;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}
.navigation .link-item {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-adress .page {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-mail:hover,
.adress-mail:focus {
  color: var(--accent-kolor);
}
.phone-number:hover,
.phone-number:focus {
  color: var(--accent-kolor);
}
.navigation-text {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-right: auto;
}
.navigation {
  display: flex;
  gap: 40px;
}
.navigation .current {
  color: var(--accent-kolor);
}
