@media screen and (min-width: 768px) {
  .container {
    max-width: ;
    width: 768px;
  }
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .logo-fierst {
    padding-left: 16px;
  }
}

@media screen and (min-width: 768px) {
  .navigation-page {
    padding-top: 0;
    padding-bottom: 0;
  }
  .navigation-text {
    margin: auto;
  }
  .contact-item {
    margin: auto;
  }
  .mobile-menu {
    display: none;
  }
  .mobile-btn {
    display: none;
  }
  .mobile-header-list {
    margin: 0;
  }
  .mobile-header-list {
    display: flex;
  }
  .adress-page {
    display: flex;
    margin-left: 122px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    height: 436px;
  }
  .title-hero {
    max-width: 496px;
    margin: 0 auto 36px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
  }
}

@media screen and (min-width: 768px) {
  .features-list-link,
  .features-list-icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .main-gallery {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet.bg/tablet-bg.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
}
.hero {
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/tablet.bg/tablet-bg@2x.jpg);
}
