@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .logo-fierst {
    padding-left: 16px;
  }
}

@media screen and (min-width: 768px) {
  .navigation-page {
    padding-top: 0;
    padding-bottom: 0;
  }
  .navigation-text {
    margin: auto;
  }
  .contact-item {
    margin: auto;
  }
  .mobile-menu {
    display: none;
  }
  .mobile-btn {
    display: none;
  }
  .mobile-header-list {
    margin: 0;
  }
  .mob-social {
    margin-top: auto;
  }
  .mobile-header-list {
    display: flex;
  }
  .adress-page {
    display: flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    min-width: 768px;
    height: 436px;
  }
  .title-hero {
    max-width: 496px;
    margin: 0 auto 36px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
  }
}

@media screen and (min-width: 768px) {
  .features-list-link,
  .features-list-icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .main-gallery {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet.bg/tablet-bg.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet.bg/tablet-bg@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .features {
  }
  .features-description {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 72px;
    column-gap: 24px;
  }
  .features-text {
  }
  .features-list {
    margin: 0;
    width: calc((100% - 24px) / 2);
  }
  .features-caption {
    text-align: start;
  }
}
@media screen and (min-width: 768px) {
  .employee-list {
    row-gap: 64px;
  }
}
@media screen and (min-width: 768px) {
  .customers-list {
    width: 168px;
    height: 88px;
  }
}
